.modal-90w {
    // width: 100%;
    // max-width: 90vw!important;
    margin: .5rem auto!important;

  .modal-footer {
    justify-content: flex-start;
  }

  .modal-title {
    p {
      font-size: 1rem;
      margin: 0;
    }
  }
}